{% extends '../layout.twig' %}

{% set title = 'Главная страница' %}

{% block mainHeader %}
  <h1 class="visually-hidden">Магазин вязаных игрушек и вязаных товаров</h1>
  {% include '../partials/main-header__main.twig' %}
{% endblock %}

{% block pageMain %}
  {% include '../partials/promo-card.twig' %}
  {% include '../partials/popup-form.twig' %}
  {% include '../partials/iconable-list.twig' %}
  {% include '../partials/reviews.twig' %}
  {% include '../partials/contacts.twig' %}
{% endblock %}
