.button {
  display: block;
  box-sizing: border-box;
  padding: 14px;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  color: @color-native-black;
  text-transform: uppercase;
  background-color: inherit;
  border: 2px solid;

  &:hover,
  &:focus {
    color: @color-white;
    background-color: @color-native-black;
  }

  &:active {
    color: fade(@color-white, 30%);
    background-color: @color-native-black;
  }

  @media @tablet {
    font-size: 17px;
  }
}
