.catalog {
  margin: 0 0 30px;
  padding: 0 30px;
}

.catalog__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog__item {
  padding-top: 30px;
}

.catalog__card-link {
  display: block;
}

.catalog__image {
  display: block;
  width: 100%;
  // margin-top: 30px;
  object-fit: cover;
}

.catalog__card-wrapper {
  padding: 27px;
  border: @border-grayny;
}

.catalog__card-heading {
  margin: 0 0 6px;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
}

.catalog__card-info {
  margin: 0 0 16px;
  font-size: 13px;
  line-height: 30px;
}

.catalog__card-price {
  margin: 0;
  padding: 22px 0 0;
  font-weight: bold;
  font-size: 15px;
  line-height: 24px;
  border-top: @border-grayny;
}

.catalog__popup-link {
  position: absolute;
}
