.contacts {
  padding: 44px 30px 40px;
}

.contacts__heading {
  margin: 0;
  // @media max-width(767px)
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 30px;
}

.contacts__table {
  font-size: 14px;
  line-height: 30px;
  color: var(--color-native-black);
}

.contacts__map-image {
  min-width: 100vw;
  height: 454px;
  margin: 0 0 40px -30px;
  object-fit: cover;
  background-color: var(--color-basic-gray);
}

.contacts__table-data {
  min-width: 80px;
  margin: 0;
  padding: 0;
}

.table__data--border {
  border-bottom: 1px solid black;
}
