.contacts {
  padding: 40px 0;

  @media @tablet {
    position: relative;
    padding: 154px 0 57px;
    line-height: 50px;

    &::before {
      content: ""; // флаг
      position: absolute;
      top: 131px;
      right: 3px;
      display: block;
      width: 47px;
      height: 81px;
    }
  }

  @media @desktop {
    padding: 242px 175px 105px;

    &::before {
      top: 225px;
      left: 63px;
    }
  }
}

.contacts__heading {
  margin: 0;
  font-size: 18px;

  @media @tablet {
    margin-bottom: 15px;
    font-size: 43px;
  }

  @media @desktop {
    margin: 0;
    font-size: 53px;
  }
}

.contacts__table {
  margin-bottom: 60px;
  font-size: 14px;
  line-height: 30px;
  color: @color-native-black;

  @media @tablet {
    display: block;
    margin-bottom: 47px;
    font-size: 17px;

    @media @desktop {
      margin-bottom: 81px;
    }
  }

  tbody {
    @media @tablet {
      display: flex;
    }

    @media @desktop {
      display: block;
    }
  }
}

.contacts__table-row {
  &--first {
    line-height: 22px;

    @media @tablet {
      margin-right: 48px;
      line-height: 30px;
    }
  }
}

.contacts__table-data {
  min-width: 75px;
  padding: 31px 0 0;
  vertical-align: top;
}

.contacts__link {
  border-bottom: @border-greeny;

  &:hover,
  &:focus {
    color: @color-darky-green;
  }

  &:active {
    color: @color-darky-green;
    border-color: fade(@color-darky-green, 10%);
  }
}

.contacts__map-image {
  display: block;
  min-width: var(--full-width);
  height: 454px;
  margin: 0 -30px 42px -30px;
  object-fit: cover;
  background-color: @color-basic-gray;

  @media @tablet {
    height: 457px;
    margin: 0 -50px 55px -50px;
  }

  @media @desktop {
    position: absolute;
    top: 160px;
    right: 0;
    width: 50%;
    min-width: auto;
    margin-right: 0;
  }
}

.contacts__button-wrapper {
  @media @tablet {
    display: flex;
    justify-content: center;
  }

  @media @desktop {
    justify-content: flex-start;
  }
}

.contacts__button {
  @media @tablet {
    padding-right: 40px;
    padding-left: 40px;
  }
}
