.footer {
  margin: 0 -30px;
  padding: 20px 30px 23px;
  background-color: @color-basic-gray;

  @media @tablet {
    display: flex;
    justify-content: space-between;
    margin: 0 var(--full-width-margin);
    padding: 50px var(--full-width-padding);
  }
}

.footer__logo {
  display: none;

  @media @tablet {
    display: block;
    filter: grayscale(100%) brightness(0%);
  }

  &:hover,
  &:focus {
    filter: none;
  }

  &:active {
    opacity: 30%;
    filter: none;
  }
}
