.footer {
  margin: 0 -@mobile-indent;
  padding: 20px @mobile-indent 23px;
  background-color: @color-basic-gray;

  @media @tablet {
    display: flex;
    justify-content: space-between;
    margin: 0 -@tablet-indent;
    padding: @tablet-indent;
  }
}

.footer__logo {
  display: none;

  @media @tablet {
    display: block;
  }
}
