.form {
  padding: 18px 0 58px;

  @media @tablet {
    padding: 53px 0 20px;
  }

  @media @desktop {
    padding: 99px 0 23px;
  }
}

.form__text {
  margin: 0 0 28px;
  font-size: 13px;
  line-height: 24px;
  color: @color-native-black;

  @media @tablet {
    margin-bottom: 14px;
    font-size: 17px;
    line-height: 30px;
  }

  @media @desktop {
    padding: 0 175px;
  }

  &--footnote {
    margin: 0 0 32px;
    font-size: 14px;
    line-height: 16px;

    @media @tablet {
      margin: 0 0 10px 10px;
      font-size: 17px;
      line-height: 30px;
    }

    @media @desktop {
      padding: 0;
    }
  }
}

.form__set {
  margin: 0;
  padding: 30px 0;
  border: none;
  border-top: @border-greeny;

  @media @tablet {
    position: relative;
    border: none;
  }

  &--radio {
    padding: 35px 0 19px;

    @media @tablet {
      padding: 67px 60px 7px 247px;
    }

    @media @desktop {
      padding: 67px 60px 7px 255px;
    }
  }

  &--checkbox {
    padding: 35px 0 0;

    @media @tablet {
      padding: 66px 10px 25px 249px;
    }

    @media @desktop {
      padding: 66px 60px 25px 257px;
    }
  }

  &--input {
    padding: 13px 0 43px;

    @media @tablet {
      padding: 10px 0 0 141px;
    }

    @media @desktop {
      padding: 10px 175px 0 149px;
    }
  }

  &--input-name {
    padding: 30px 0 44px;

    @media @tablet {
      padding: 48px 0 38px 167px;
    }

    @media @desktop {
      padding: 48px 177px 38px 175px;
    }
  }

  &--textarea {
    padding: 30px 0 15px;

    @media @tablet {
      padding: 51px 0 20px 167px;
    }

    @media @desktop {
      padding: 51px 175px 20px 175px;
    }
  }
}

.form__set-heading {
  display: block;
  min-width: 40px;
  padding: 0;
  padding-right: 20px;
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  color: @color-green;
  text-transform: uppercase;
  background-color: @color-white;

  @media @tablet {
    position: absolute;
    top: 67px;
    left: 0;
    background-color: inherit;
  }

  @media @desktop {
    left: 61px;
  }

  &--input {
    position: absolute;
    top: -22px;

    @media @tablet {
      top: 19px;
      left: -142px;
    }

    @media @desktop {
      top: 19px;
      left: -87px;
    }
  }

  &--textarea {
    position: absolute;
    top: -40px;

    @media @tablet {
      top: 19px;
      left: -167px;
    }

    @media @desktop {
      top: 19px;
      left: -113px;
    }
  }
}

.form__list {
  margin: 0;
  padding-left: 60px;
  list-style: none;

  @media @tablet {
    padding: 0;
  }

  &--checkbox {
    @media @tablet {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 113px;
      row-gap: 15px;
    }

    @media @desktop {
      grid-template-columns: 210px 210px 210px;
      column-gap: 52px;
    }
  }
}

.form__label {
  position: relative;
  display: block;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;

  @media @tablet {
    font-size: 19px;
  }

  &--radio {
    margin-bottom: 24px;

    &::before {
      content: "";
      position: absolute;
      top: -11px;
      left: -59px;
      width: 36px;
      height: 36px;
      border: @border-black-thick;
      border-radius: 50%;

      @media @tablet {
        top: -18px;
        left: -77px;
        width: 46px;
        height: 46px;
      }
    }

    &:hover,
    &:focus {
      &::before {
        border-color: @color-greeny;
      }
    }

    &:active {
      &::before {
        border-color: fade(@color-native-black, 30%);
      }
    }

    @media @tablet {
      margin-bottom: 58px;
    }
  }

  &--checkbox {
    margin-bottom: 43px;

    &::before {
      content: "";
      position: absolute;
      top: -10px;
      left: -59px;
      width: 34px;
      height: 34px;
      border: @border-black-thick;

      @media @tablet {
        top: -16px;
        left: -82px;
        width: 48px;
        height: 48px;
      }
    }

    &:hover,
    &:focus {
      &::before {
        border-color: @color-greeny;
      }
    }

    &:active {
      &::before {
        border-color: fade(@color-native-black, 30%);
      }
    }
  }

  &--input {
    margin-bottom: 23px;

    @media @tablet {
      display: flex;
      align-items: baseline;
      margin-bottom: 10px;
      padding: 0 0 12px 0;
      border: none;
    }

    &:last-of-type {
      margin-bottom: 0;
    }

    &-tel::before {
      content: "";
      position: absolute;
      top: 10px;
      right: 6px;
      width: 25px;
      height: 24px;
      background-color: fade(@color-black, 20%);
      mask-image: var(--svg-phone);

      @media @tablet {
        top: 13px;
        right: 26px;
      }

      @media @desktop {
        right: 8px;
      }
    }

    &-mail::before {
      content: "";
      position: absolute;
      top: 15px;
      right: 2px;
      z-index: 1;
      width: 32px;
      height: 21px;
      background-color: fade(@color-black, 20%);
      mask-image: var(--svg-mail);

      @media @tablet {
        top: 18px;
        right: 22px;
      }

      @media @desktop {
        right: 4px;
      }
    }

    &:hover,
    &:focus-within {
      &::before {
        background-color: @color-greeny;
      }

      .form__field {
        border-color: @color-greeny;
      }
    }
  }

  &--textarea {
    &:hover,
    &:focus-within {
      .form__field {
        border-color: @color-greeny;
      }
    }
  }
}

.form__check {
  position: absolute;
  margin: 0;
  appearance: none;

  &--radio {
    top: -12px;
    left: -60px;
    width: 42px;
    height: 42px;

    @media @tablet {
      top: -18px;
      left: -77px;
      width: 50px;
      height: 50px;
    }

    &:checked {
      background-color: @color-greeny;
      mask-image: var(--svg-radio-center);
      mask-size: 17px 17px;
      mask-repeat: no-repeat;
      mask-position: center;

      @media @tablet {
        mask-size: 20px 20px;
      }
    }
  }

  &--checkbox {
    top: -10px;
    left: -59px;
    width: 38px;
    height: 38px;

    @media @tablet {
      top: -16px;
      left: -82px;
      width: 52px;
      height: 52px;
    }

    &:checked {
      background-color: @color-black;
      mask-image: var(--svg-checkbox-tick);
      mask-size: auto 16px;
      mask-repeat: no-repeat;
      mask-position: center;

      @media @tablet {
        mask-size: auto 21px;
      }
    }
  }
}

.form__item {
  @media @mobile {
    &--radio:first-child .form__label::before,
    &--radio:first-child .form__label::after,
    &--radio:first-child .form__check {
      transform: translateY(7px); // PP
    }
  }
}

.form__field {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 50px;
  margin: 0;
  padding: 0;
  font: inherit;
  font-weight: 400;
  border: none;
  border-bottom: @border-black-thick;

  @media @tablet {
    height: 54px;
    margin: 0 0 0 26px;
    padding-left: 17px;
    background-color: inherit;
    border-bottom: @border-black-thick;
  }

  &--textarea {
    min-height: 142px;
    margin: 0;
    padding: 15px;
    border: @border-black-thick;
  }
}

.form__group {
  @media @tablet {
    &:nth-child(odd) {
      margin: 0 var(--full-width-margin);
      padding-right: var(--full-width-padding);
      padding-left: var(--full-width-padding);
      background-color: @color-light-gray;
    }

    &:last-child {
      background-color: @color-white;
    }
  }

  &--contacts {
    @media @tablet {
      padding-top: 38px;
      padding-bottom: 38px;
    }
  }
}

.form__button-wrapper {
  @media @tablet {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    padding: 31px 50px;
  }

  @media @tablet {
    padding: 31px 0;
  }

  @media @desktop {
    padding: 27px 175px;
  }
}

.form__submit {
  width: 100%;
  padding: 16px;
  font-size: 17px;
  line-height: 16px;
  font-family: inherit;

  @media @tablet {
    order: -1;
    width: auto;
    margin-right: auto;
    padding: 16px 30px;
  }
}
