.form {
  padding: 18px 0 55px;

  @media @tablet {
    padding: 53px 0 20px;
  }

  @media @desktop {
    padding: 100px 0 23px;
  }
}

.form__text {
  margin: 0 0 28px;
  font-size: 13px;
  line-height: 24px;
  color: @color-native-black;

  @media @tablet {
    margin-bottom: 14px;
    font-size: 17px;
    line-height: 30px;
  }

  @media @desktop {
    padding: 0 175px;
  }

  &--footnote {
    margin: 0 0 32px;
    font-size: 14px;
    line-height: 16px;

    @media @tablet {
      margin: 0 0 10px 10px;
      font-size: 17px;
      line-height: 30px;
    }

    @media @desktop {
      padding: 0;
    }
  }
}

.form__set {
  margin: 0;
  padding: 30px 0;
  border: none;
  border-top: @border-greeny;

  @media @tablet {
    position: relative;
    border: none;
  }

  &--radio {
    padding: 20px 0 14px;

    @media @tablet {
      padding: 52px 0 24px 170px;
    }

    @media @desktop {
      padding: 50px 60px 24px 176px;
    }
  }

  &--checkbox {
    padding: 20px 0 16px;

    @media @tablet {
      padding: 49px 0 49px 166px;
    }

    @media @desktop {
      padding: 48px 60px 50px 175px;
    }
  }

  &--input {
    padding: 13px 0 43px;

    @media @tablet {
      padding: 10px 0 0 141px;
    }

    @media @desktop {
      padding: 10px 175px 0 149px;
    }
  }

  &--input-name {
    padding: 30px 0 44px;

    @media @tablet {
      padding: 48px 0 38px 167px;
    }

    @media @desktop {
      padding: 48px 177px 38px 175px;
    }
  }

  &--textarea {
    padding: 30px 0 15px;

    @media @tablet {
      padding: 50px 0 22px 167px;
    }

    @media @desktop {
      padding: 51px 175px 20px 175px;
    }
  }
}

.form__set-heading {
  display: block;
  min-width: 40px;
  padding: 0;
  padding-right: 20px;
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  color: @color-green;
  text-transform: uppercase;
  background-color: @color-white;

  @media @tablet {
    position: absolute;
    top: 67px;
    left: 0;
    background-color: inherit;
  }

  @media @desktop {
    left: 61px;
  }

  &--input {
    position: absolute;
    top: -22px;

    @media @tablet {
      top: 19px;
      left: -142px;
    }

    @media @desktop {
      top: 19px;
      left: -87px;
    }
  }

  &--textarea {
    position: absolute;
    top: -40px;

    @media @tablet {
      top: 19px;
      left: -167px;
    }

    @media @desktop {
      top: 19px;
      left: -113px;
    }
  }
}

.form__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media @tablet {
    padding: 0;
  }

  &--checkbox {
    @media @tablet {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 20px;
      row-gap: 22px;
    }

    @media @desktop {
      grid-template-columns: 210px 210px 210px;
      column-gap: 52px;
    }
  }
}

.form__label {
  position: relative;
  display: block;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;

  @media @tablet {
    font-size: 19px;
  }

  &--radio {
    padding: 15px 20px 10px 61px;

    @media @tablet {
      padding: 15px 20px 43px 77px;
    }

    &:hover,
    &:focus {
      .form__check {
        border-color: @color-greeny;
      }
    }

    &:active {
      .form__check {
        border-color: fade(@color-native-black, 30%);
      }
    }
  }

  &--checkbox {
    margin-bottom: 13px;
    padding: 15px 20px 15px 61px;

    @media @tablet {
      margin: 0;
      padding: 18px 0 18px 82px;
    }

    &:hover,
    &:focus {
      .form__check {
        border-color: @color-greeny;
      }
    }

    &:active {
      .form__check {
        border-color: fade(@color-native-black, 30%);
      }
    }
  }

  &--input {
    margin-bottom: 23px;

    @media @tablet {
      display: flex;
      align-items: baseline;
      margin-bottom: 10px;
      padding: 0 0 12px 0;
      border: none;
    }

    &:last-of-type {
      margin-bottom: 0;
    }

    &-tel::before {
      content: "";
      position: absolute;
      top: 10px;
      right: 6px;
      width: 25px;
      height: 24px;
      background-color: fade(@color-black, 20%);
      mask-image: var(--svg-phone);

      @media @tablet {
        top: 13px;
        right: 26px;
      }

      @media @desktop {
        right: 8px;
      }
    }

    &-mail::before {
      content: "";
      position: absolute;
      top: 15px;
      right: 2px;
      z-index: 1;
      width: 32px;
      height: 21px;
      background-color: fade(@color-black, 20%);
      mask-image: var(--svg-mail);

      @media @tablet {
        top: 18px;
        right: 22px;
      }

      @media @desktop {
        right: 4px;
      }
    }

    &:hover,
    &:focus-within {
      &::before {
        background-color: @color-greeny;
      }

      .form__field {
        border-color: @color-greeny;
      }
    }
  }

  &--textarea {
    &:hover,
    &:focus-within {
      .form__field {
        border-color: @color-greeny;
      }
    }
  }
}

.form__check {
  position: absolute;
  margin: 0;
  appearance: none;

  &--radio {
    top: 3px;
    left: 0;
    width: 42px;
    height: 42px;
    border: @border-black-thick;
    border-radius: 50%;

    @media @tablet {
      top: 0;
      left: 0;
      width: 50px;
      height: 50px;
    }

    &:checked {
      &::after {
        content: "";
        position: absolute;
        top: 11px;
        left: 11px;
        display: block;
        width: 16px;
        height: 16px;
        background-color: @color-greeny;
        border: 1px transparent;
        border-radius: 50%;

        @media @tablet {
          top: 12px;
          left: 13px;
          width: 20px;
          height: 20px;
        }
      }
    }
  }

  &--checkbox {
    top: 5px;
    left: 1px;
    width: 38px;
    height: 38px;
    border: @border-black-thick;

    @media @tablet {
      top: 0;
      left: 0;
      width: 52px;
      height: 52px;
    }

    &:checked {
      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: inherit;
        height: inherit;
        background-color: @color-black;
        mask-image: var(--svg-checkbox-tick);
        mask-size: auto 16px;
        mask-repeat: no-repeat;
        mask-position: center;

        @media @tablet {
          mask-size: auto 22px;
        }
      }
    }
  }
}

.form__item {
  @media @mobile {
    &--radio {
      min-height: 61px;
    }

    &--radio:first-child .form__label::before,
    &--radio:first-child .form__label::after,
    &--radio:first-child .form__check {
      transform: translateY(7px); // PP
    }
  }
}

.form__field {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 50px;
  margin: 0;
  padding: 0;
  font: inherit;
  font-weight: 400;
  border: none;
  border-bottom: @border-black-thick;

  @media @tablet {
    height: 54px;
    margin: 0 0 0 26px;
    padding-left: 17px;
    background-color: inherit;
    border-bottom: @border-black-thick;
  }

  &--textarea {
    min-height: 142px;
    margin: 0;
    padding: 15px;
    border: @border-black-thick;
  }
}

.form__group {
  &--contacts {
    @media @tablet {
      padding-top: 38px;
      padding-bottom: 38px;
    }
  }

  @media @tablet {
    position: relative;

    &:nth-child(odd) {
      &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        display: block;
        margin: 0 -50px;
        background-color: @color-light-gray;
      }
    }

    &:last-child {
      background: none;

      &::before {
        background: none;
      }
    }
  }

  @media @desktop {
    &:nth-child(odd) {
      &::before {
        margin: 0 var(--full-width-margin);
      }
    }
  }
}

.form__button-wrapper {
  @media @tablet {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    padding: 31px 0;
  }

  @media @desktop {
    padding: 27px 175px;
  }
}

.form__submit {
  width: 100%;
  padding: 16px;
  font-size: 17px;
  line-height: 16px;

  @media @tablet {
    order: -1;
    width: auto;
    margin-right: auto;
    padding: 16px 30px;
  }
}
