.iconable-list {
  padding: 35px 0;

  @media @tablet {
    padding: 76px 0 83px;
  }

  @media @desktop {
    padding: 152px 175px 90px;
  }
}

.iconable-list__heading {
  margin: 0 0 80px;

  @media @tablet {
    margin-bottom: 100px;
  }

  @media @desktop {
    margin-bottom: 95px;
  }
}

.iconable-list__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media @tablet {
    display: flex;
    flex-wrap: wrap;
  }
}

.iconable-list__item {
  margin: 0 0 83px;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;

  &:nth-last-of-type(1) {
    margin: 0;
  }

  @media @tablet {
    width: 50%;
    margin-bottom: 115px;
    font-size: 20px;
  }

  @media @tablet {  // PP
    &:nth-of-type(4) {
      order: 2;
    }

    &:nth-of-type(2) {
      order: 3;
    }

    &:nth-of-type(5) {
      order: 4;
    }

    &:nth-of-type(3) {
      order: 5;
    }

    &:nth-of-type(6) {
      order: 6;
    }

    &:nth-last-of-type(4) {
      margin: 0;
    }
  }

  @media @desktop {
    margin-bottom: 110px;
    line-height: 22px;
  }
}
