.iconable-list {
  padding: 37px 30px;
}

.iconable-list__heading {
  margin: 0 0 82px;
}

.iconable-list__item {
  margin: 0 0 83px;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
}

.iconable-list__item:last-of-type {
  margin: 0;
}
