.iconable-list {
  padding: 35px 0;

  @media @tablet {
    padding: 76px 0 75px;
  }

  @media @desktop {
    padding: 68px 175px 74px;
  }
}

.iconable-list__heading {
  margin: 0 0 23px;

  @media @tablet {
    margin-bottom: 41px;
  }

  @media @desktop {
    margin-bottom: 39px;
  }
}

.iconable-list__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media @tablet {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 4px;
    row-gap: 45px;
  }

  @media @desktop {
    column-gap: 0;
    row-gap: 40px;
  }
}

.iconable-list__item {
  margin: 0 0 27px;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;

  &:last-child {
    margin: 0;
  }

  &::before {
    content: "";
    display: block;
    width: 55px;
    height: 38px;
    margin-bottom: 18px;
    background-color: @color-green;
    mask-repeat: no-repeat;
    mask-position: center;
  }

  &--flower::before {
    mask-image: var(--svg-icon-flower);
    transform: translate(-3px, 3px); // PP

    @media @tablet {
      transform: translate(-3px, 0); // PP
    }
  }

  &--money::before {
    mask-image: var(--svg-icon-money);
    transform: translate(-4px, -2px); // PP

    @media @desktop {
      transform: translate(-3px, -3px); // PP
    }
  }

  &--wool::before {
    mask-image: var(--svg-icon-wool);
    transform: translate(-6px, 3px); // PP

    @media @tablet {
      transform: translate(-8px, 2px); // PP
    }
  }

  &--heart::before {
    mask-image: var(--svg-icon-heart);
    transform: translate(-3px, 3px); // PP

    @media @desktop {
      transform: translate(-2px, 2px); // PP
    }
  }

  &--rocket::before {
    transform: translate(-6px, -1px); // PP
    mask-image: var(--svg-icon-rocket);

    @media @tablet {
      transform: translate(-6px, -2px); // PP
    }
  }

  &--present::before {
    transform: translate(-8px, 1px);
    mask-image: var(--svg-icon-gift);

    @media @tablet {
      transform: translate(-10px, 2px); // PP
    }

    @media @desktop {
      transform: translate(-8px, 0); // PP
    }
  }

  @media @tablet {
    margin-bottom: 9px;
    font-size: 20px;
    line-height: 22px;

    &:nth-of-type(4) {
      order: 2;
    }

    &:nth-of-type(2) {
      order: 3;
    }

    &:nth-of-type(5) {
      order: 4;
    }

    &:nth-of-type(3) {
      order: 5;
    }

    &:nth-of-type(6) {
      order: 6;
    }
  }

  @media @desktop {
    margin-bottom: 15px;
    line-height: 22px;
  }
}
