.navigation {
  @media @tablet {
    position: relative;
  }
}

.navigation__logo-link {
  z-index: 10;
  display: table;
  margin: auto;
  padding: 22px;

  @media @tablet {
    position: absolute;
  }

  @media @desktop {
    left: 50%;
    transform: translateX(-50%);
  }
}

.navigation__logo-image {
  display: block;
}

.navigation__text {
  display: none;

  @media @tablet {
    position: absolute;
    right: 0;
    bottom: 23px;
    display: block;
    margin: 0;
    font-size: 15px;
    line-height: 24px;
    color: @color-native-black;
  }
}

.navigation__toggle {
  display: none;
}
