
.navigation-primary {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation-primary__link {
  display: block;
  padding: 28px 30px 26px 76px;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
}

.navigation-primary__item {
  border-top: var(--border-grayny);

  &:last-of-type {
    border-bottom: var(--border-grayny);
  }
}

.navigation-primary__icon {
  position: absolute;
  display: block;
  transform: translate(-46px);
}
