.navigation-primary__link {
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
}

.navigation-primary__item {
  padding: 24px 30px 24px 76px;
  border-top: 1px solid var(--color-grayny);
}

.navigation-primary__icon {
  position: absolute;
  display: block;
  transform: translate(-46px);
}

.navigation-primary:last-of-type {
  border-bottom: 1px solid var(--color-grayny);
}
