.navigation {
  @media @tablet {
    position: relative;
  }
}

.navigation__wrapper {
  @media @tablet {
    display: flex;
    flex-wrap: wrap;
    margin: 0 var(--full-width-margin);
    background-color: @color-basic-gray;
  }
}

.navigation__logo-wrapper {
  margin: 0 -30px;
  padding: 0 30px;
  border-bottom: @border-switched-grayny;

  @media @desktop {
    border: none;
  }
}

.navigation__logo-link {
  z-index: 10;
  display: table;
  margin: auto;
  padding: 22px;

  &:hover,
  &:focus {
    opacity: 60%;
  }

  &:active {
    opacity: 30%;
  }

  @media @tablet {
    position: absolute;
    top: 22px;
    padding: 0;
    border-bottom: none;
  }

  @media @desktop {
    top: 9px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.navigation__logo-image {
  display: block;
}

.navigation__text {
  display: none;

  @media @tablet {
    position: absolute;
    right: 0;
    bottom: 9px;
    display: block;
    font-size: 15px;
    line-height: 24px;
    color: @color-native-black;
  }

  @media @desktop {
    position: static;
    margin: 20px 50px 0 auto;
  }
}

.navigation__toggle {
  position: absolute;
  top: 28px;
  right: 30px;
  width: 22px;
  height: 22px;
  padding: 0;
  background: none;
  border: none;

  &::before {
    content: "";
    display: block;
    width: 22px;
    height: 22px;
    background-image: var(--svg-menu-close);
    background-repeat: no-repeat;
    background-position: center;
  }

  @media @tablet {
    display: none;
  }
}

@media @mobile {
  .navigation--nojs {
    & .navigation__toggle {
      display: none;
    }
  }

  .navigation--opened {
    .navigation__wrapper {
      display: block;
    }
  }

  .navigation--closed {
    & .navigation__toggle {
      &::before {
        position: absolute;
        top: 4px;
        left: 1px;
        width: 20px;
        height: 2px;
        background-color: @color-dark-brown;
        background-image: none;
        box-shadow: 0 6px 0 @color-dark-brown, 0 12px 0 @color-dark-brown;
      }
    }

    .navigation__wrapper {
      display: none;
    }
  }
}
