.navigation-secondary {
  display: none;
  margin: 0 -50px;
  padding: 0 50px;
  list-style: none;

  @media @desktop {
    display: flex;
    flex-wrap: wrap;
    margin: 0 var(--margin);
    padding: 0 var(--padding);
    background-color: @color-basic-gray;
  }
}

.navigation-secondary__item {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  min-width: 185px;
  min-height: 60px;
  margin-right: 35px;
  padding: 20px 20px 20px 0;

  &:last-of-type {
    margin: 0;
    padding-right: 240px;
  }
}

.navigation-secondary__link {
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;

  &:hover,
  &:focus {
    opacity: 60%;
  }

  &:active {
    opacity: 30%;
  }
}
