.promotion {
  display: flex;
  flex-direction: column;
  min-width: 260px;
  padding: 30px;
}

.promotion__heading {
  margin: 0 0 17px;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  color: var(--color-green);
  text-transform: uppercase;
}

.promotion__lead {
  order: -1;
  margin: 0 0 5px;
}

.promotion__info {
  margin: 0 0 21px;
  font-size: 15px;
  line-height: 24px;
  color: var(--color-native-black);
}

.promotion__table {
  width: 100%;
  margin-bottom: 28px;
  border-collapse: collapse;
  font-size: 15px;
  line-height: 20px;
  color: var(--color-native-black);
}

.promotion__table-data {
  min-width: 80px;
  padding: 7px 0 12px;
  border-bottom: var(--border-grayny);
}

.promotion__image {
  margin: 0 0 25px;
  background-color: var(--color-basic-gray);
}

.promotion__cost {
  align-self: center;
  margin: 0 0 24px;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
}

.promotion__button {
  margin-bottom: 6px;
}
