.promotion {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 260px;
  padding: 31px 0;

  &::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: -30px;
    width: 100vw;
    height: 6px;
    background: @color-light-gray;
    mask-image: var(--svg-zigzag-line);
  }

  @media @tablet {
    position: relative;
    align-items: start;
    padding: 40px 0;

    &::after {
      bottom: -20px;
      left: -50px;
      height: 17px;
      mask-size: 768px 17px;
    }
  }

  @media @desktop {
    padding: 115px 175px 84px;

    &::after {
      bottom: 0;
      left: 0;
      width: 1050px;
      height: 23px;
      margin: 0;
      mask-size: 1050px 23px;
    }
  }
}

.promotion__heading {
  margin: 0 0 16px;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  color: @color-green;
  text-transform: uppercase;

  @media @tablet {
    position: absolute;
    top: 45px;
    right: 15px;
    width: 100px;
    line-height: 17px;
    text-align: center;
  }

  @media @desktop {
    top: 122px;
    left: 32px;
  }
}

.promotion__lead {
  z-index: 1;
  order: -1;
  margin: 0 0 5px;

  @media @tablet {
    margin-bottom: 35px;
  }
}

.promotion__wrapper {
  @media @tablet {
    width: calc(50% - 42px);
  }
}

.promotion__info {
  margin: 0 0 21px;
  font-size: 15px;
  line-height: 24px;
  color: @color-native-black;

  @media @tablet {
    margin-bottom: 40px;
    font-size: 17px;
    line-height: 30px;
  }

  @media @desktop {
    max-width: 290px;
    margin-bottom: 53px;
  }
}

.promotion__table {
  width: 100%;
  margin-bottom: 28px;
  border-collapse: collapse;
  font-size: 15px;
  line-height: 20px;
  color: @color-native-black;

  @media @tablet {
    margin-bottom: 57px;
  }

  @media @desktop {
    max-width: 290px;
    margin-bottom: 111px;
  }
}

.promotion__table-data {
  min-width: 80px;
  padding: 7px 0 12px;
  border-bottom: @border-grayny;

  @media @tablet {
    min-width: 60px;
  }
}

.promotion__image {
  display: block;
  width: 100%;
  margin: 0 0 26px;
  background-color: @color-basic-gray;

  @media @tablet {
    position: absolute;
    top: 140px;
    right: 0;
    width: auto;
  }

  @media @desktop {
    top: 54px;
  }
}

.promotion__cost {
  margin: 0 0 24px;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  text-align: center;

  @media @tablet {
    margin: 0 0 35px;
    font-size: 20px;
  }

  @media @desktop {
    max-width: 290px;
  }
}

.promotion__button {
  margin-bottom: 9px;

  @media @desktop {
    max-width: 290px;
  }
}
