.promotion {
  display: flex;
  flex-direction: column;
  min-width: 260px;
  padding: 30px 0;

  @media @tablet {
    position: relative;
    align-items: start;
    padding: 40px 0;
  }

  @media @desktop {
    padding: 115px 175px 0;
  }
}

.promotion__heading {
  margin: 0 0 17px;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  color: @color-green;
  text-transform: uppercase;

  @media @tablet {
    position: absolute;
    top: 45px;
    right: 15px;
    width: 100px;
    line-height: 17px;
    text-align: center;
  }

  @media @desktop {
    top: 122px;
    left: 32px;
  }
}

.promotion__lead {
  order: -1;
  margin: 0 0 5px;

  @media @tablet {
    margin-bottom: 35px;
  }
}

.promotion__wrapper {
  @media @tablet {
    width: calc(50% - 42px);
  }
}

.promotion__info {
  margin: 0 0 21px;
  font-size: 15px;
  line-height: 24px;
  color: @color-native-black;

  @media @tablet {
    max-width: 290px;
    margin-bottom: 40px;
    font-size: 17px;
    line-height: 30px;
  }

  @media @desktop {
    margin-bottom: 53px;
  }
}

.promotion__table {
  width: 100%;
  margin-bottom: 28px;
  border-collapse: collapse;
  font-size: 15px;
  line-height: 20px;
  color: @color-native-black;

  @media @tablet {
    margin-bottom: 57px;
  }

  @media @desktop {
    max-width: 290px;
    margin-bottom: 111px;
  }
}

.promotion__table-data {
  min-width: 80px;
  padding: 7px 0 12px;
  border-bottom: @border-grayny;

  @media @tablet {
    min-width: 60px;
  }
}

.promotion__image {
  z-index: -1;
  margin: 0 0 17px;
  background-color: @color-basic-gray;

  @media @tablet {
    position: absolute;
    top: 140px;
    right: 0;
    width: 50%;
  }

  @media @desktop {
    top: 54px;
  }
}

.promotion__cost {
  margin: 0 0 25px;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  text-align: center;

  @media @tablet {
    margin: 0 0 35px;
    font-size: 20px;
  }

  @media @desktop {
    max-width: 290px;
  }
}

.promotion__button {
  margin-bottom: 10px;

  @media @desktop {
    max-width: 290px;
  }
}
