.promo-video {
  margin-bottom: 58px;
  padding: 21px 0 23px;
  border: @border-grayny;

  @media @tablet {
    display: flex;
    flex-direction: column;
    margin-bottom: 64px;
    padding: 0;
    border: none;
  }

  @media @desktop {
    position: relative;
    align-items: flex-end;
    min-height: 455px;
    margin-bottom: 103px;
    padding-left: 685px;
    border: @border-grayny;
  }

  &::before {
    @media @tablet {
      content: "";
      display: block;
      height: 23px;
      border-top: @border-grayny;
      border-right: @border-grayny;
      border-left: @border-grayny;
    }

    @media @desktop {
      border: none;
    }
  }

  &::after {
    @media @tablet {
      content: "";
      display: block;
      height: 35px;
      border-right: @border-grayny;
      border-bottom: @border-grayny;
      border-left: @border-grayny;
    }

    @media @desktop {
      border: none;
    }
  }

  &:hover,
  &:focus {
    box-shadow: 0 6px 10px fade(@color-black, 10%);
  }

  &:active {
    box-shadow: 0 3px 5px fade(@color-black, 10%);
  }
}

.pomo-video__wrapper-player {
  position: relative;
  background-image: url("../img/video-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  @media @retina {
    background-image: url("../img/video-mobile@2x.jpg");
    background-size: 260px 150px;
  }

  @media @tablet {
    order: -1;
    min-height: 455px;
    background-image: url("../img/video-tablet.jpg");

    @media @retina {
      background-image: url("../img/video-tablet@2x.jpg");
      background-size: 668px 455px;
    }
  }

  @media @desktop {
    position: absolute;
    top: 0;
    left: 0;
    width: 683px;
    height: 455px;
    background-image: url("../img/video-desktop.jpg");

    @media @retina {
      background-image: url("../img/video-desktop@2x.jpg");
      background-size: 668px 455px;
    }
  }
}

.pomo-video__player {
  display: block;
  width: 100%;
  height: auto;
  visibility: hidden;
}

.promo-video__player-button {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 3;
  width: 102px;
  height: 78px;
  background-color: transparent;
  background-image: var(--svg-play);
  background-size: cover;
  border: none;
  transform: translate(-50%, -50%);

  &:hover,
  &:focus {
    transform: scale(120%) translate(-41%, -42%);
  }

  &:active {
    transform: scale(80%) translate(-62%, -58%);
    opacity: 30%;
  }
}

.promo-video__heading {
  position: relative;
  margin: 0;
  padding: 0 34px 27px 90px;
  font-size: 17px;
  line-height: 24px;

  @media @tablet {
    padding: 17px 42px 9px 106px;
    font-size: 20px;
    border-right: @border-grayny;
    border-left: @border-grayny;
  }

  @media @desktop {
    box-sizing: border-box;
    width: 360px;
    padding: 72px 50px 13px 73px;
    border: none;
  }

  &::before {
    content: "";
    position: absolute;
    top: 14px;
    left: 33px;
    display: block;
    width: 32px;
    height: 22px;
    background-color: @color-green;
    mask-image: var(--svg-video);

    @media @tablet {
      left: 41px;
    }

    @media @desktop {
      top: 23px;
      left: 73px;
    }
  }
}

.promo-video__text {
  margin: 0;
  padding: 38px 23px 31px 33px;
  font-size: 13px;
  line-height: 24px;

  @media @tablet {
    padding: 15px 39px 31px;
    font-size: 15px;
    line-height: 30px;
    border-right: @border-grayny;
    border-left: @border-grayny;
  }

  @media @desktop {
    box-sizing: border-box;
    width: 360px;
    padding: 15px 50px 41px 73px;
    border: none;
  }
}

.promo-video__wrapper-button {
  padding: 10px 34px;

  @media @tablet {
    padding: 10px 41px;
    border-right: @border-grayny;
    border-left: @border-grayny;
  }

  @media @desktop {
    box-sizing: border-box;
    width: 360px;
    padding: 10px 56px 10px 74px;
    border: none;
  }
}

.promo-video__button {
  display: block;
}
