.review {
  padding: 21px 30px 45px;
}

.review__heading {
  margin: 0 0 14px;
}

.review__item {
  margin: 0;
}

.review__text {
  margin: 0 0 30px;
  font-size: 15px;
  line-height: 30px;
  color: var(--color-native-black);
}

.review__author-name {
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  font-style: normal;
}
