.social {
  padding-bottom: 17px;

  @media @tablet {
    padding: 0;
  }
}

.social__list {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.social__item {
  margin: 5px 41px 0 0;

  &:last-of-type {
    margin-right: 0;
  }

  &:hover,
  &:focus {
    color: @color-darky-green;
  }

  &:active {
    opacity: 30%;
  }
}

.social__button {
  display: block;
}
