@color-white: #ffffff;
@color-basic-gray: #f1f1f1;
@color-grayny: #ececec;
@color-gray: #e5e5e5;
@color-green: #63d1bb;
@color-greeny: #62d1ba;
@color-dark-green: #56c3b2;
@color-dark-greeny: #149080;
@color-native-black: #444444;
@color-dark-brown: #231f20;
@color-black: #000000;

@border-grayny: 1px solid @color-grayny;
@border-greeny: 1px solid @color-greeny;
@border-black-thick: 2px solid @color-native-black;

@tablet-indent: 50px;
@tablet-width: 768px;
@tablet: (min-width: @tablet-width);

@desktop-indent: 50px;
@desktop-width: 1150px;
@desktop: (min-width: @desktop-width);

@mobile-indent: 30px;
@mobile-width-only: 767px;
@mobile: (max-width: @mobile-width-only);
