:root {
  --color-basic-gray: #f9f9f9;
  --switched-color-grayny: #ececec;
  --full-width: calc(100% + 60px);

  @media @tablet {
    --switched-color-grayny: #e6e6e6;
    --full-width: calc(100% + 100px);
  }

  @media @desktop {
    --padding: 50vw;
    --margin: -50vw;
  }
}

@color-white: #ffffff;
@color-light-gray: #f1f1f1;
@color-basic-gray: #f9f9f9;
@color-gray: #e5e5e5;
@color-grayny: #ececec;
@color-light-green: #59d5bc;
@color-green: #63d1bb;
@color-greeny: #62d1ba;
@color-dark-green: #56c3b2;
@color-darky-green: #46c1ae;
@color-dark-greeny: #149080;
@color-native-black: #444444;
@color-dark-brown: #231f20;
@color-black: #000000;

@border-switched-grayny: 1px solid var(--switched-color-grayny);
@border-grayny: 1px solid @color-grayny;
@border-greeny: 1px solid @color-greeny;
@border-black-thick: 2px solid @color-native-black;

@tablet: ~"(min-width: 768px)";
@desktop: ~"(min-width: 1150px)";
@mobile: ~"(max-width: 767px)";
