{% set cartLink %}
  <a class="catalog__popup-link" href="#!">
    {{ symbol('cart', 27, 34, 'catalog__icon') }}
  </a>
{% endset %}

<section class="catalog">
  <h2 class="visually-hidden">Карточки товаров</h2>
  <ul class="catalog__list">
    <li class="catalog__item">
      <a class="catalog__card-link" href="#!">
        <img class="catalog__image" src="img/photo-1-mobile.jpg" alt="Вязаный зайчик, голубого цвета и с белой головой, на фоне оранжевого горшка.">
      </a>
      <div class="catalog__card-wrapper">
        <h3 class="catalog__card-heading">Зайчик-попрыгайчик</h3>
        <p class="catalog__card-info">Рост 30 см, вес 200 г</p>
        <p class="catalog__card-price">1 200 руб.{{ cartLink }}</p>
      </div>
    </li>
    <li class="catalog__item">
      <a class="catalog__card-link" href="#!">
        <img class="catalog__image" src="img/photo-2-mobile.jpg" alt="Вязаная розовая корзина с белым верхом. В корзине стоят три простыни, свернутые в рулоны.">
      </a>
      <div class="catalog__card-wrapper">
        <h3 class="catalog__card-heading">Корзинка для белья</h3>
        <p class="catalog__card-info">Диаметр 15 см, высота 10 см</p>
        <p class="catalog__card-price">690 руб.{{ cartLink }}</p>
      </div>
    </li>
    <li class="catalog__item">
      <a class="catalog__card-link" href="#!">
        <img class="catalog__image" src="img/photo-3-mobile.jpg" alt="Большая зеленая вязаная корзина с белым верхом. Корзина наполненая вязаными игрушками.">
      </a>
      <div class="catalog__card-wrapper">
        <h3 class="catalog__card-heading">Большая корзинка для&nbsp;игрушек</h3>
        <p class="catalog__card-info">Диаметр 30 см, высота 30 см</p>
        <p class="catalog__card-price">1 500 руб.{{ cartLink }}</p>
    </div>
    </li>
  </ul>
</section>
{% include 'popup-form.twig' %}
