<section class="contacts">
  <h2 class="heading contacts__heading">Контакты</h2>
  <table class="table contacts__table">
    <tr class="table__row">
      <td class="table__data">e-mail:</td>
      <td class="table__data">
        <a class="contacts__link" href="mailto:info@mimimishkashop.ru">info@mimimishkashop.ru</a>
      </td>
    </tr>
    <tr class="table__row">
      <td class="table__data">адрес:</td>
      <td class="table__data">
        г. Санкт-Петербург<br>
        Большая Конюшенная<br>
        д. 19/8, офис 101
      </td>
    </tr>
  </table>
  <img class="contacts__map-image" src="https://via.placeholder.com/320X454" alt="Изображение карты с меткой магазина">
  <a class="button contacts__button" href="#!">Напишите нам</a>
</section>
