<section class="contacts">
  <h2 class="heading contacts__heading">Контакты</h2>
  <table class="contacts__table">
    <tr class="contacts__table-row--first">
      <td class="contacts__table-data">e-mail:</td>
      <td class="contacts__table-data">
        <a class="contacts__link" href="mailto:info@mimimishkashop.ru">info@mimimishkashop.ru</a>
      </td>
    </tr>
    <tr class="contacts__table-row">
      <td class="contacts__table-data">адрес:</td>
      <td class="contacts__table-data">
        г. Санкт-Петербург<br>
        ул. Большая Конюшенная<br>
        д. 19/8, офис 101
      </td>
    </tr>
  </table>
  <div class="contacts__map-wrapper">
    <iframe class="contacts__map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1998.6037999040354!2d30.322010416394033!3d59.938716271971415!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4696310fca5ba729%3A0xea9c53d4493c879f!2sBolshaya+Konyushennaya+ul.%2C+19%2C+Sankt-Peterburg%2C+Russia%2C+191186!5e0!3m2!1sen!2s!4v1441888483426"></iframe>
    {# {{ picture('map', 'jpg', 'contacts__map-image', 'Изображение карты с меткой магазина') }} #}
  </div>
  <div class="contacts__button-wrapper">
    <a class="button contacts__button" href="#!">Напишите нам</a>
  </div>
</section>
