<section class="contacts">
  <h2 class="heading contacts__heading">Контакты</h2>
  <table class="contacts__table">
    <tr class=" contacts__table-row contacts__table-row--first">
      <td class="contacts__table-data">e-mail:</td>
      <td class="contacts__table-data">
        <a class="contacts__link" href="mailto:info@mimimishkashop.ru">info@mimimishkashop.ru</a>
      </td>
    </tr>
    <tr class="contacts__table-row">
      <td class="contacts__table-data">адрес:</td>
      <td class="contacts__table-data">
        г. Санкт-Петербург<br>
        ул. Большая Конюшенная<br>
        д. 19/8, офис 101
      </td>
    </tr>
  </table>
  <div class="contacts__map-wrapper">
    <iframe class="contacts__map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1998.5957488533813!2d30.32063474468567!3d59.93884985757903!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4696310fca640933%3A0x8403eb878242dbd5!2z0JTQvtGF0L7QtNC90YvQuSDQtNC-0Lwg0J0uINCQLiDQnNC10LvRjNGG0LXRgNCw!5e0!3m2!1sru!2sru!4v1621971558495!5m2!1sru!2sru" width="600" height="450" allowfullscreen="" loading="lazy"></iframe>
  </div>
  <div class="contacts__button-wrapper">
    <a class="button contacts__button" href="#!">Напишите нам</a>
  </div>
</section>
