<header class="header">
  <nav class="navigation navigation--opened navigation--nojs">
    <div class="navigation__logo-wrapper">
      <a class="navigation__logo-link" href="index.html">
        {# {{ picture('mishka-logo', 'svg', 'navigation__logo-image', 'Логотип - магазин Мишка') }} #}
        <picture>
          <source class="img navigation__logo-image" media="(min-width: 1150px)" srcset="img/icons/mishka-logo-desktop.svg">
          <source class="img navigation__logo-image" media="(min-width: 768px)" srcset="img/icons/mishka-logo-tablet.svg" >
          <img class="img navigation__logo-image" src="img/icons/mishka-logo-mobile.svg" alt="Логотип - магазин Мишка">
        </picture>
      </a>
    </div>
    <button class="navigation__toggle" type="button">
      <span class="visually-hidden">Открыть/Закрыть меню</span>
    </button>
    <div class="navigation__wrapper">
      <ul class="navigation-primary">
        <li class="navigation-primary__item">
          <a class="navigation-primary__link" href="catalog.html">Каталог товаров</a>
        </li>
        <li class="navigation-primary__item">
          <a class="navigation-primary__link" href="form.html">Вязание на заказ</a>
        </li>
        <li class="navigation-primary__item">
          <a class="navigation-primary__link" href="blank.html">
            {{ symbol('header-search', 18, 18, 'navigation-primary__icon') }}
            <span class="navigation-primary__text">Поиск по сайту</span>
          </a>
        </li>
        <li class="navigation-primary__item">
          <a class="navigation-primary__link" href="blank.html">
            {{ symbol('cart', 21, 18, 'navigation-primary__icon') }}
            <span class="navigation-primary__text navigation-primary__text--cart">Корзина: пока пуста</span>
          </a>
        </li>
      </ul>
      <ul class="navigation-secondary">
        <li class="navigation-secondary__item">
          <a class="navigation-secondary__link" href="blank.html">Новые поступления</a>
        </li>
        <li class="navigation-secondary__item">
          <a class="navigation-secondary__link" href="blank.html">Распродажа</a>
        </li>
      </ul>
      <p class="navigation__text">Бесплатная доставка по России</p>
    </div>
  </nav>
</header>
