<header class="header">
  <nav class="navigation navigation--opened navigation--nojs">
    <div class="navigation__logo-wrapper">
      <a class="navigation__logo-link" {{ page != 'index' ? 'href="index.html"' }}>
        {# {{ picture('mishka-logo', 'svg', 'navigation__logo-image', 'Логотип - магазин Мишка') }} #}
        <picture>
          <source class="img navigation__logo-image" media="(min-width: 1150px)" srcset="img/icons/mishka-logo-desktop.svg">
          <source class="img navigation__logo-image" media="(min-width: 768px)" srcset="img/icons/mishka-logo-tablet.svg" >
          <img class="img navigation__logo-image" src="img/icons/mishka-logo-mobile.svg" alt="Логотип - магазин Мишка">
        </picture>
      </a>
    </div>
    <button class="navigation__toggle" type="button">
      <span class="visually-hidden">Открыть/Закрыть меню</span>
    </button>
    <div class="navigation__list-wrapper">
      <ul class="navigation__list navigation__list-first">
        <li class="navigation__item navigation__item-first">
          <a class="navigation__link" href="catalog.html">Каталог товаров</a>
        </li>
        <li class="navigation__item navigation__item-first">
          <a class="navigation__link" href="form.html">Вязание на заказ</a>
        </li>
      </ul>
      <ul class="navigation__list navigation__list-second">
        <li class="navigation__item navigation__item-second navigation__item-second--search">
          <a class="navigation__link" href="blank.html">
            {{ symbol('header-search', 18, 18, 'navigation__icon navigation__icon--search') }}
            <span class="navigation__item-text navigation__item-text--search">Поиск по сайту</span>
          </a>
        </li>
        <li class="navigation__item navigation__item-second navigation__item-second--cart">
          <a class="navigation__link" href="blank.html">
            {{ symbol('cart', 21, 18, 'navigation__icon') }}
            <span class="navigation__item-text">Корзина: пока пуста</span>
          </a>
        </li>
      </ul>
      <ul class="navigation__list navigation__list-third">
        <li class="navigation__item navigation__item-third">
          <a class="navigation__link" href="blank.html">Новые поступления</a>
        </li>
        <li class="navigation__item navigation__item-third">
          <a class="navigation__link" href="blank.html">Распродажа</a>
        </li>
      </ul>
      <p class="navigation__text">Бесплатная доставка по России</p>
    </div>
  </nav>
</header>
