<section class="iconable-list">
  <h2 class="heading iconable-list__lead">Коротко о нас:</h2>
  <ul class="iconable-list__list">
    <li class="iconable-list__item iconable-list__item--flower">
      Экологически
      <br>
      чистые материалы
    </li>
    <li class="iconable-list__item iconable-list__item--money">
      Скандинавский стиль
      <br>
      по российской цене
    </li>
    <li class="iconable-list__item iconable-list__item--heart">
      Экологически
      <br>
      чистые материалы
    </li>
    <li class="iconable-list__item iconable-list__item--wool">
      Увеличивает лайки
      <br>
      на фотографиях
    </li>
    <li class="iconable-list__item iconable-list__item--rocket">
      Поддержка отечественного
      <br>
      производителя
    </li>
    <li class="iconable-list__item iconable-list__item--present">
      Поставляется
      <br>
      в подарочной упаковке
    </li>
  </ul>
</section>
