<section class="iconable-list">
  <h2 class="heading iconable-list__heading">Коротко о нас:</h2>
  <ul class="iconable-list__list">
    <li class="iconable-list__item iconable-list__item--flower">
      Экологически<br>чистые&nbsp;материалы
    </li>
    <li class="iconable-list__item iconable-list__item--money">
      Скандинавский&nbsp;стиль<br>по&nbsp;российской&nbsp;цене
    </li>
    <li class="iconable-list__item iconable-list__item--heart">
      Увеличивает&nbsp;лайки<br>на&nbsp;фотографиях
    </li>
    <li class="iconable-list__item iconable-list__item--wool">
      Связано&nbsp;вручную<br>с любовью&nbsp;и умилением
    </li>
    <li class="iconable-list__item iconable-list__item--rocket">
      Поддержка&nbsp;отечественного производителя
    </li>
    <li class="iconable-list__item iconable-list__item--present">
      Поставляется<br>в подарочной&nbsp;упаковке
    </li>
  </ul>
</section>
