<section class="iconable-list">
  <h2 class="heading iconable-list__heading">Коротко о нас:</h2>
  <ul class="iconable-list__list">
    <li class="iconable-list__item iconable-list__item--flower">
      Экологически чистые материалы
    </li>
    <li class="iconable-list__item iconable-list__item--money">
      Скандинавский стиль по российской цене
    </li>
    <li class="iconable-list__item iconable-list__item--wool">
      Увеличивает лайки на фотографиях
    </li>
    <li class="iconable-list__item iconable-list__item--heart">
      Связано вручную с любовью и умилением
    </li>
    <li class="iconable-list__item iconable-list__item--rocket">
      Поддержка отечественного производителя
    </li>
    <li class="iconable-list__item iconable-list__item--present">
      Поставляется в подарочной упаковке
    </li>
  </ul>
</section>
