<p class="main-header__heading">Милые штуки ручной работы для дома</p>
<ul class="main-header__list">
  <li class="main-header_item">
    <a class="main-header__link" href="#!">Предметы<br>интерьера</a>
  </li>
  <li class="main-header__item">
    <a class="main-header__link" href="#!">Детские<br>игрушки</a>
  </li>
</ul>
