<div class="main-header__main">
  <p class="main-header__heading">Милые штуки<br>ручной<br>работы для дома</p>
  <ul class="list-reset main-header__list">
    <li class="main-header__item">
      <a class="main-header__link" href="#!">Предметы<br>интерьера</a>
    </li>
    <li class="main-header__item">
      <a class="main-header__link" href="#!">Детские<br>игрушки</a>
    </li>
  </ul>
</div>
