<form class="popup-form" action="https://echo.htmlacademy.ru/" method="get" hidden>
  <h2 class="heading popup-form__heading">Добавить в корзину</h2>
  <fieldset class="popup-form__fieldset">
    <legend class="popup-form__fieldset-legend">Выберите размер:</legend>
    <label class="popup-form__label">
      S
      <input class="popup-form__radio" type="radio" name="size" value="small" checked>
    </label>
    <label class="popup-form__label">
      M
      <input class="popup-form__radio" type="radio" name="size" value="middle">
    </label>
    <label class="popup-form__label">
      L
      <input class="popup-form__radio" type="radio" name="size" value="large">
    </label>
  </fieldset>
  <button class="button popup-form__submit" type="submit">Добавить</button>
</form>
