<section class="popup-order">
  <h2 class="heading popup-order__lead">Добавить в корзину</h2>
  <form class="form" action="https://echo.htmlacademy.ru/" method="get">
    <fieldset class="form__fieldset">
      <legend class="form__fieldset-legend">Выберите размер:</legend>
      <label class="form__label">
        S
        <input class="visually-hidden form__radio" type="radio" name="size" checked="checked">
      </label>
      <label class="form__label">
        M
        <input class="visually-hidden form__radio" type="radio" name="size">
      </label>
      <label class="form__label">
        L
        <input class="visually-hidden form__radio" type="radio" name="size">
      </label>
    </fieldset>
    <button class="button form__submit form__submit--popup-order" type="submit" aria-label="Добавить в корзину">Добавить</button>
  </form>
</section>
