<section class="popup">
  <h2 class="heading popup__lead">Добавить в корзину</h2>
  <form class="form" action="https://echo.htmlacademy.ru/" method="get">
    <fieldset class="fieldset">
      <legend class="fieldset__legend">Выберите размер:</legend>
      <label class="fieldset__label">
        <span class="visually-hidden">Размер - маленький</span>
        <input class="visually-hidden form__radio" type="radio" name="size" checked>
        <span class="fieldset__radio-box"></span>
      </label>
      <label class="form__label">
        <span class="visually-hidden">Размер - средний</span>
        <input class="visually-hidden form__radio" type="radio" name="size">
        <span class="form__radio-box"></span>
      </label>
      <label class="form__label">
        <span class="visually-hidden">Размер - большой</span>
        <input class="visually-hidden form__radio" type="radio" name="size">
        <span class="form__radio-box"></span>
      </label>
    </fieldset>
    <button class="form__submit" aria-label="Добавить в корзину">Добавить</button>
  </form>
</section>
