<section class="promotion">
  <h2 class="promotion__heading">Товар недели</h2>
  <h3 class="heading promotion__lead">Вязаные корзинки</h3>
  <p class="promotion__info">Экологически чистая пряжа, ручная работа. Доступны в шести расцветках, и трех размерах.</p>
  <table class="table promotion__table">
    <tr class="table__row">
      <td class="table__date">Цвет:</td>
      <td class="table__date">«Тиффани»/серый</td>
    </tr>
    <tr class="table__row">
      <td class="table__date">Диаметр:</td>
      <td class="table__date">25 см</td>
    </tr>
    <tr class="table__row">
      <td class="table__date">Высота:</td>
      <td class="table__date">15 см</td>
    </tr>
  </table>
  <img class="promotion__image" src="/img/triple-set-mobile.jpg" alt="Три вязаные корзинки разного цвета и размера">
  <p class="promotion__cost">Цена: 990 руб.</p>
  <button class="button visually-hidden promotion_button" type="button">Заказать</button>
  <a class="button promotion_button" href="#!" >Заказать</a>
</section>
