<section class="promo-video">
  <div class="pomo-video__wrapper-video">
    <video class="pomo-video__player" poster="../img/video-mobile.jpg">
      <source src="video/video.mp4" type="video/mp4">
      <source src="video/video.webm" type="video/webm">
      <source src="video/video.ogv" type="video/ogg">
    </video>
    <button class="promo-video__player-button" type="button"></button>
  </div>
  <h2 class="heading promo-video__heading">Процесс производства</h2>
  <p class="promo-video__text">По просьбам наших любимых фолловеров мы сняли для вас подробное видео
о том, как появляются наши товары.</p>
  <a class="button promo-video__button" href="#!">Сделать заказ</a>
</section>
