<section class="promotion">
  <h2 class="promotion__heading">Товар недели</h2>
  <h3 class="heading promotion__lead">Вязаные корзинки</h3>
  <p class="promotion__info">Экологически чистая пряжа, ручная работа. Доступны в шести расцветках и трёх размерах.</p>
  <table class="promotion__table">
    <tr class="promotion__table-row">
      <td class="promotion__table-data">Цвет:</td>
      <td class="promotion__table-data">«Тиффани»/серый</td>
    </tr>
    <tr class="promotion__table-row">
      <td class="promotion__table-data">Диаметр:</td>
      <td class="promotion__table-data">25 см</td>
    </tr>
    <tr class="promotion__table-row">
      <td class="promotion__table-data">Высота:</td>
      <td class="promotion__table-data">15 см</td>
    </tr>
  </table>
  <img class="promotion__image" src="img/triple-set-mobile.jpg" width="260" height="315" alt="Три вязаные корзинки разного цвета и размера">
  <p class="promotion__cost">Цена: 990 руб.</p>
  <a class="button promotion__button" href="#!">Заказать</a>
</section>
