<section class="promo-video">
  <div class="promo-video__heading-wrapper">
    <h2 class="heading promo-video__heading">Процесс производства</h2>
  </div>
  <div class="promo-video__wrapper-player">
    <video class="promo-video__player">
      <source src="video/video.mp4" type="video/mp4">
      <source src="video/video.webm" type="video/webm">
      <source src="video/video.ogv" type="video/ogg">
    </video>
    <button class="promo-video__player-button" type="button" aria-label="Посмотреть видео"></button>
  </div>
  <p class="promo-video__text">По просьбам наших любимых фолловеров мы сняли для вас подробное видео
о том, как появляются наши товары.</p>
  <div class="promo-video__wrapper-button">
    <a class="button promo-video__button" href="#!">Сделать заказ</a>
  </div>
</section>
