<section class="review">
  <h2 class="heading review__heading">Отзывы</h2>
  <div class="slider">
    <ul class="slider__list">
      <li class="slider__item">
        <blockquote class="review__item">
          <p class="review__text">Я молодая мама, но всё равно фотографии не набирали и близко такого количества лайков, как у популярных инстамамочек. В отчаянии, я накупила аксессуаров и игрушек в Мишке, и мои фотографии сразу стали более стильными, а также набирают больше лайков!</p>
          <cite class="review__author">
            <span class="review__author-name">Анастасия Красильникова</span>
            <a class="review__author-link" href="#!">@misssssiskras</a>
          </cite>
        </blockquote>
      </li>
    </ul>
    <div class="slider__navigation">
        <button class="slider__button slider__button--previous" type="button"><span class="visualli-hidden">Предыдущий отзыв</span></button>
        <button class="slider__button slider__button--next" type="button"><span class="visualli-hidden">Следующий отзыв</span></button>
    </div>
  </div>
  <a class="button review__link" href="blank.html" aria-label="Написать отзыв">Написать</a>
</section>
