<section class="advantages">
  <h2 class="visually-hidden">Наши приемущества</h2>
  <p class="advantages__lead heading">Коротко о нас:</p>
  <ul class="advantages__list">
    <li class="advantages__item advantages__item--flower">
      Экологически
      <br>
      чистые материалы
    </li>
    <li class="advantages__item advantages__item--money">
      Скандинавский стиль
      <br>
      по российской цене
    </li>
    <li class="advantages__item advantages__item--heart">
      Экологически
      <br>
      чистые материалы
    </li>
    <li class="advantages__item advantages__item--wool">
      Увеличивает лайки
      <br>
      на фотографиях
    </li>
    <li class="advantages__item advantages__item--rocket">
      Поддержка отечественного
      <br>
      производителя
    </li>
    <li class="advantages__item advantages__item--present">
      Поставляется
      <br>
      в подарочной упаковке
    </li>
  </ul>
</section>
