<section class="modal">
  <form class="modal__form" action="https://echo.htmlacademy.ru/" method="get">
    <h2 class="modal__lead heading">Добавить в корзину</h2>
    <p class="modal_text">Выберите размер:</p>
    <ul class="modal__list">
      <li class="modal__item">
        <button class="modal_button" aria-label="Размер - маленький">S</button>
      </li>
      <li class="modal__item">
        <button class="modal_button" aria-label="Размер - средний">M</button>
      </li>
      <li class="modal__item">
        <button class="modal__button" aria-label="Размер - большой">L</button>
      </li>
    </ul>
    <button class="modal__submit" aria-label="Добавить в корзину">Добавить</button>
  </form>
</section>
