<section class="promotion">
  <h2 class="promotion__lead">Товар недели</h2>
  <article class="promotion-card">
    <h3 class="promotion-card__lead heading">Вязаные корзинки</h3>
    <p class="promotion-card__info"></p>
    <table class="promotion-card__table promotion-table">
      <tr class="promotion-table__row">
        <td class="promotion-table__date">Цвет:</td>
        <td class="promotion-table__date">«Тиффани»/серый</td>
      </tr>
      <tr class="promotion-table__row">
        <td class="promotion-table__date">Диаметр:</td>
        <td class="promotion-table__date">25 см</td>
      </tr>
      <tr class="promotion-table__row">
        <td class="promotion-table__date">Высота:</td>
        <td class="promotion-table__date">15 см</td>
      </tr>
    </table>
    <img class="promotion-card__image" src="/img/triple-set-mobile.jpg" alt="Три вязаные корзинки разного цвета и размера">
    <p class="promotion-catalog__cost">Цена: 990 руб.</p>
  </article>
</section>
