{% from 'macro.twig' import symbol %}

<!DOCTYPE html>
<html class="page" lang="ru">
  <head>
    <meta charset="utf-8">
    <title>Мишка: {{ title }}</title>
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body class="page__body">

    {% include 'partials/header.twig' %}

    <main>
      <header class="main-header">

        {% block mainHeader %}
          <h1 class="heading main-header__heading">{{ title }}</h1>
        {% endblock %}

      </header>

      {% block pageMain %}
      {% endblock %}

    </main>

    {% include 'partials/footer.twig' %}

  </body>
</html>
